* 
  font-family: "Open Sans", helvetica

body
  background: #555
  color: white

#application-header 
  padding: 10px 0
  width: 100%
  background: #222
  color: white
  #header-logo-link img
    float: left
    height: 30px